<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.6/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
    <testsuite>
        <directory suffix=".php">./tests/</directory>
        <directory suffix=".phpt">./tests/</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                    <directory>./vendor</directory>
                    <directory>./tests</directory>
                    <directory>./circleci</directory>
                    <directory>./bin</directory>
                    <directory>./.idea</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
